@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css);

:root {
  --pico-form-element-spacing-vertical: 5px;
  --pico-form-element-spacing-horizontal: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container > form {
  max-width: 300px;
}

.container > main {
  flex: 1;
}

.delete-btn {
  margin-top: 0.5rem;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}